<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406714088960-ib1diabjtrbrothkpqt9o7pckpt3872m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406714088960-ib1diabjtrbrothkpqt9o7pckpt3872m</string>
	<key>API_KEY</key>
	<string>AIzaSyCFZdQ50dorZIqkizJnNg5o4Fe__01Ctn8</string>
	<key>GCM_SENDER_ID</key>
	<string>406714088960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sgh.Huaklito</string>
	<key>PROJECT_ID</key>
	<string>huaklito-15df7</string>
	<key>STORAGE_BUCKET</key>
	<string>huaklito-15df7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406714088960:ios:719c644929898a1026a2e5</string>
	<key>DATABASE_URL</key>
	<string>https://huaklito-15df7.firebaseio.com</string>
</dict>
</plist>